@font-face {
    font-family: HIROMISAKE;
    src: url(../fonte/HIROMISAKE.ttf);
}

@font-face {
    font-family: OpenSans-Medium;
    src: url(../fonte/OpenSans-Medium.ttf);
}

@keyframes anima-key {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
}
}

.menuiconsc{
    max-width: 100%;
    background-color: rgb(107, 107, 107);
    text-align: right;
    padding-right: 1%;
}

.menuiconsc img{
    margin-top: 3px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.menuiconsc img:hover{
    transition: .1s;
    background-color: aliceblue;
}

.menuiconsc img:active{
    background-color: rgb(255, 0, 0);
}

.btn_logintop{
    margin-top: -0.5%;
    margin-right: 0.5%;
}

.btn_enter{
    font-size: small;
    color: aqua;
    text-decoration: none;
    cursor: pointer;
    font-family: OpenSans-Medium;
}
    
.btn_sair{
    font-size: small;
    color: aqua;
    text-decoration: none;
    cursor: pointer;
    font-family: OpenSans-Medium;
}
    
.btn_enter:hover{
    transition: .1s;
    color: red;
}
    
.btn_sair:hover{
    transition: .1s;
    color: red;
}

header{/*cabeçalho*/
    display: flex;
    justify-content:space-around;
    background-color: #000;
    font-family: OpenSans-Medium;
    color: rgb(255, 255, 255);
    text-align: center;
}

header h1 {
    font-size:xx-large;
    font-family: HIROMISAKE;
    text-shadow: 2px 2px 8px rgb(255, 0, 242);;
}

header h1 p{
    font-size: medium;
    font-family: OpenSans-Medium;
}

.zappgif{
    border-radius: 3px;
}

.positiongif{
    text-align: right;
    margin-top: -8%;
}

.positiongif2{
    text-align: center;
}

body{
    /*background-color: rgb(255, 255, 255);*/
    background-color: rgb(22, 22, 22);
    margin: auto;
    background-image: linear-gradient(to right,rgb(251, 149, 255), rgb(0, 0, 0), rgb(255, 255, 255));
    background-size: 500% 100%;
    animation: anima-key 10s infinite alternate;
}

.imgbody{
    background-image: url(../img/Sakura_Background.com.png);
    background-attachment: fixed;
}

nav{/*menu principal horizontal(cada botão é independente)*/
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;
    flex-wrap: wrap;
    gap: 2vw;    
}

.btn1{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    box-shadow: 5px 5px 10px #000;
}

.btn1:hover{/*BOTÃO 1*/
    transition: .1s;
    transform: scale(1.03);
    background-color:rgb(255, 120, 255);
}
        
.btn1:active{
    background-color: rgb(255, 255, 255) ;
    color:rgb(255, 8, 0);
} 

.n1{
    text-decoration: none;
    font-family:HIROMISAKE;
    font-size: larger;
    color:rgb(0, 0, 0);
}

.n1:hover{
    transition: .1s;
    transform:scale(1.5);
    display:grid;
}

.btn2{/*BOTÃO 2*/
    background-image: linear-gradient(to right,rgb(250, 101, 225), rgb(255, 0, 242), rgb(119, 0, 255));
    background-size: 500% 100%;
    animation: anima-key 1s infinite alternate;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    box-shadow: 4px 4px 4px greenyellow;
}

.btn2:hover{
    transition: .1s;
    transform: scale(1.03);
}
        
.btn2:active{
    background-image:none;
} 

.n2{
    text-decoration: none;
    font-family:HIROMISAKE;
    font-size: larger;
    color:rgb(255, 255, 255);
}

.n2:hover{
    transition: .1s;
    transform:scale(1.5);
    display:grid;
}
        
.btn3{/*BOTÃO 3*/
    background-color: rgb(12, 12, 12);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    box-shadow: 4px 4px 4px greenyellow;
}

.btn3:hover{
    transition: .1s;
    transform: scale(1.03);
    background-color:rgb(255, 120, 255);
}
        
.btn3:active{
    background-color: rgb(255, 255, 255) ;
    color:rgb(255, 8, 0);
} 

.n3{
    text-decoration: none;
    font-family:HIROMISAKE;
    font-size: larger;
    color:greenyellow;
}

.n3:hover{
    color: black;
    transition: .1s;
    transform:scale(1.5);
    display:grid;
}

.btn4{/*BOTÃO 4*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    box-shadow: 5px 5px 10px #000;
}

.btn4:hover{
    transition: .1s;
    transform: scale(1.03);
    background-color:rgb(255, 120, 255);
}
        
.btn4:active{
    background-color: rgb(255, 255, 255) ;
    color:rgb(255, 8, 0);
} 

.n4{
    text-decoration: none;
    font-family:HIROMISAKE;
    font-size: larger;
    color:black;
}

.n4:hover{
    transition: .1s;
    transform:scale(1.5);
    display:grid;
}

.btn5{/*BOTÃO 5*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    box-shadow: 5px 5px 10px #000;
}

.btn5:hover{
    transition: .1s;
    transform: scale(1.03);
    background-color:rgb(255, 120, 255);
}
        
.btn5:active{
    background-color: rgb(255, 255, 255) ;
    color:rgb(255, 8, 0);
} 

.n5{
    text-decoration: none;
    font-family:HIROMISAKE;
    font-size: larger;
    color:black;
}

.n5:hover{
    transition: .1s;
    transform:scale(1.5);
    display:grid;
}

/*=================================Inicío CONTEINER envio User Menu=======================*/



.user-conteiner{
    background-color: rgb(12, 12, 12);
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap:2vw;
    margin: 0 10% 0 10%;
    padding: 0%;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px aqua;
}

.user-conteiner2{
    margin: 0 10% 0 10%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(12, 12, 12);
    box-shadow: 2px 2px 4px aqua;
    border: none;
    border-radius: 10px;
}

/*=================================FIM CONTEINER envio User Menu=======================*/

.menu-user-lateral{
    margin: 2% auto;
    box-shadow: 2px 2px 4px aqua;
    background-color: rgb(12, 12, 12);
    border-radius: 10px;
    border: none;
    padding: 6%;
    gap:1vw;
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    font-family: HIROMISAKE;
}

.mulat-btn1{
    object-fit: cover;
    text-decoration: none;
    color: aliceblue;
}

.mulat-btn1:hover{
    width:100%;
    box-shadow: 2px 2px 6px aqua;
    transition: 0.1s;
    color: aqua;
    padding: 3%;
    border-radius: 5px;
}


.user-menu-card{
    margin: 2% auto;
    padding: 2%;
    max-width: 600px;
    font-family: OpenSans-Medium;
    height: 400px;
    display: flex;
    color: aliceblue;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(12, 12, 12);
    border-radius: 10px;
    box-shadow: 2px 2px 4px aqua;
}

.form-foto-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 4px aqua;
    border-radius: 10px;
    margin-top: 8%;
    padding: 1%;
    transition: .2s;
}

.input-avatar[type='file']{
   display: none;
}

.avatar{
    border-radius: 10px;
}

.avatar:hover{
    background-color: aqua;
    cursor: pointer;
}

/*=================================Início envio User Menu=======================*/

.michaelj-gif{
    margin-top: -2%;
}

.user-menu{
    color: aliceblue;
}

.user-text-p{
    font-family: HIROMISAKE;
}

.user-text-h3{
    margin-bottom: -2%;
}

@media (max-width: 480px){
    .user-conteiner, .user-conteiner2{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 90%;
        margin: auto;
        padding: 2%;
}
}

@media (max-width: 480px){
    .menu-user-lateral, .user-menu-card{
        padding: 10%;
        width: 260px;
        margin: auto;
}
}

@media (max-width: 480px){
    .mulat-btn1, .mulat-btn1:hover{
        padding: 2%;
        margin: auto;
}
}

@media (max-width: 480px){
    .btn-form-msg{
        font-size:x-small;
        padding: 3%;
        margin: auto;
}
}

/*=================================Fim envio User Menu=======================*/

/*=================================Início envio mensagem=======================*/
.meusite-form{
    margin: 2% auto;
    padding: 0 2%;
    margin-top: 2%;
    max-width: 800px;
    font-family: OpenSans-Medium;
    height: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(12, 12, 12);
    border-radius: 5px;
    box-shadow: 2px 2px 4px aqua;
}
        
.logo-form{
    margin: 0;
    padding: 0;
    margin-bottom: -4%;
    margin-top: -2%;
}
        
.titulo-form{
    color: aqua;
}
        
.icon-form{
    width: 22px;
    height: 22px;
}
        
.input-form{
    margin: auto;
    margin-bottom: 2%;
    width: 510px;
    height: 48px;
    border-radius: 5px;
    border: none;
}

.container-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
        
.btn-form-msg{
    font-family:HIROMISAKE;
    font-size: x-large;
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 6px aqua;
    background-color: aquamarine;
}
      
.btn-form-msg:hover, .btn-form:hover{
    background-color: rgb(119, 0, 255);
    color: aliceblue;
    cursor: pointer;
    box-shadow: none;
    transition: 0.3s;
}

.texto-form{
    color: aqua;
}

@media (max-width: 480px) {
    .btn-form-msg{
        width: 320px;
        height: 50px;
}
}

/*==================================Fim envio mensagem===================================*/

/*==================================Início Menu Consultar Mensagens===================================*/

.consultar-msg{
    margin: auto;
    padding: 2%;
    max-width: 80%;
    height: auto;
    font-family: OpenSans-Medium;
    background-color: rgb(12, 12, 12);
    border-radius: 5px;
    box-shadow: 2px 2px 4px aqua;
}

.card-body{
    background-color: aliceblue;
    margin: auto;
    margin-bottom: 4%;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 2px 2px 4px aqua;
}

/*==================================FIM Menu Consultar Mensagens===================================*/

/*==================================Início mensagem SUCESSO===================================*/

.titulo-msg-sucesso{
    color: #ff0000;
}

.btn-form-msg {
    text-decoration: none;
    color: black;
    object-fit: cover;
    display: flex;justify-content: center;
    align-items: center;
}

.btn-form-msg:hover{
    color: aliceblue;
}
/*==================================Fim mensagem SUCESSO===================================*/


/*==================================Início Menu Vendas===================================*/

.topnav {
    overflow: hidden;
    margin: 2% 7%;
    border-radius: 10px;
    background-image: linear-gradient(to right,rgb(255, 190, 244),rgb(250, 101, 225), rgb(255, 0, 242), rgb(119, 0, 255));
    box-shadow: 2px 2px 6px;
    padding: 2%;
}
  
.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: HIROMISAKE;
}
  
.topnav a:hover {
    box-shadow: 2px 4px 8px rgb(119, 0, 255);
    transition: 0.1s;
    padding:1.3%;
    border-radius: 5px;
    color: aliceblue;
}

.btn-home img{
    height: 16px;
    width: 16px;
    object-fit: cover;
}

.topnav a.active {
    background-color: #ff0000;
    color: aliceblue;
}
  
.topnav .search_container {
    float: right;
}
  
.topnav input[type=text] {
    padding: 6px;
    margin-top: 6px;
    font-size: 20px;
    border: none;
    border-radius: 4px 0px 0px 4px ;
    box-shadow: 2px 2px 4px rgb(61, 61, 61);
}

@media (max-width: 480px){
    .topnav input{
        width: 160px;
}
}

.topnav .search_container button {
    float: right;
    font-family: HIROMISAKE;
    padding: 6px;
    margin-top: 6px;
    margin-right: 16px;
    color: aliceblue;
    background:rgb(119, 0, 255);;;
    font-size: 22px;
    border: none;
    box-shadow: 2px 2px 4px rgb(61, 61, 61);
    border-radius: 0px 4px 4px 0px ;
    cursor: pointer;
}
  
.topnav .search_container button:hover {
    background: rgb(255, 0, 242);
}

/*==================================FIM Menu Vendas====================================*/


/*==================================Início Galeria de Vendas===========================*/
.container-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
    margin-bottom: 2%;
}

.body-lateral{
    background-color: rgb(224, 200, 224);
    border-radius: 10px;
    box-shadow: 4px 4px 6px;
}

.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    padding: 2vw;
}

.container-card h1{
    font-family: HIROMISAKE;
}

.container-card p{
    font-family: OpenSans-Medium;
}

.container-card:hover, .body-lateral:hover{
    transition: .1s;
    transform: scale(1.01);
}

.card1{
    border-radius: 10px;
    height: 220px;
    width: 220px;
    box-shadow: 4px 4px 6px;
}

.img-vendas{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.btn-card1, .btn-card2{
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 12px;
    box-shadow: 4px 4px 6px;
    font-family: HIROMISAKE;
    background-color: aquamarine;
}

.btn-card1:hover{
    background-color: rgb(119, 0, 255);
    cursor: pointer;
    color: aliceblue;
    box-shadow: none;
}

.btn-card2:hover{
    background-color: rgb(255, 0, 221);
    cursor: pointer;
    color: aliceblue;
    box-shadow: none;
}

/*======================== FIM Galeria de Vendas=================================*/


/*==============================inicio formulário================================*/
.site-form{
    margin: auto;
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(12, 12, 12);
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 2px 2px 4px aqua;
    font-family: OpenSans-Medium;
}

@media (max-width: 480px){
    .site-form{
        width: 90%; 
}
}
   
        
.logo-form{
    margin: 0;
    padding: 0;
    margin-bottom: -4%;
    margin-top: -2%;
}
        
.titulo-form{
    font-family: HIROMISAKE;
    color: aqua;
}
        
.subtitulo-form{
    color: aliceblue;
}

.icon-form{
    border-radius: 2px;
    width: 20px;
    height: 20px;
}
        
.input-form{
    margin: auto;
    margin-bottom: 2%;
    width: 510px;
    height: 48px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 4px 8px aqua;
}
             
@media (max-width: 480px){
    .input-form{
        width: 290px; 
}
}
                          
@media (max-width: 320px){
    .input-form{
        width: 290px; 
}
}

.btn-form-cadastro{
    font-family:HIROMISAKE;
    font-size: x-large;
    width: 540px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    box-shadow: 2px 4px 8px aqua;
}
        
.btn-form-cadastro:hover{
    transition: .1s;
    background-color: rgb(119, 0, 255);
    color: aliceblue;
    cursor: pointer;
}

@media (max-width: 480px){
    .btn-form-cadastro{
        width: 230px; 
}
}

@media (max-width: 320px){
    .btn-form-cadastro{
        width: 230px; 
}
}
        
.text-danger{
    color:red;
    margin-bottom: 2%;
}
    
.msginp{
    height: 120px;
    width: 300px;
    margin-bottom: 6%;
}

.cdtlink{
    color: aqua;
    text-decoration: none;
    cursor: pointer;
}
    
.cdtlink:hover{
    transition: .1s;
    color: red;
}

.menu-f{/* menu vertical*/
    align-items: center;
    margin-top: 2%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px; 
    margin-bottom: 2%;
}

.f1{/*BOTÃO 1*/
    font-family: HIROMISAKE;
    font-size:x-large;
    border:none;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    background-image: url(../img/ONDA_SOL.png);
    width: 600px;
    height: 60px;
    box-shadow: 5px 5px 10px #000;  
}

.f1:hover{
    transition: .1s;
    transform: scale(1.03);
    background-color: rgb(255, 120, 255) ;
    color:rgb(255, 255, 255);
}

.f1:active{
    background-color: rgb(150, 22, 6) ;
    color:rgb(255, 8, 0);
}    
    
.f2{/*BOTÃO 2*/
    font-family: HIROMISAKE;
    font-size:x-large;
    border:none;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    background-image: url(../img/Samurai.png);
    width: 600px;
    height: 60px;
    box-shadow: 5px 5px 10px #000;   
}

.f2:hover{
    transition: .1s;
    transform: scale(1.03);
    background-color: rgb(255, 120, 255);
    color:rgb(255, 255, 255);
}

.f2:active{
    background-color: rgb(150, 22, 6) ;
    color:rgb(255, 8, 0);
}    

.f3 {/*BOTÃO 3 curriculo*/ 
    font-family: HIROMISAKE;
    font-size:x-large;
    border:none;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    background-image: url(../img/Templo.png);
    width: 600px;
    height: 60px;
    box-shadow: 5px 5px 10px #000;  
}

.f3:hover{
    transition: .1s;
    transform: scale(1.03);
    background-color: rgb(255, 120, 255) ;
    color:rgb(255, 255, 255);
}

.f3:active{
    background-color: rgb(150, 22, 6) ;
    color:rgb(255, 8, 0);
}

.f4{/*BOTÃO 4*/
    font-family: HIROMISAKE;
    font-size:x-large;
    border:none;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    background-image: url(../img/Gueixa.png);
    width: 600px;
    height: 60px;
    box-shadow: 5px 5px 10px #000;  
}

.f4:hover{
    transition: .1s;
    transform: scale(1.03);
    background-color: rgb(255, 120, 255) ;
    color:rgb(255, 255, 255);
}

.f4:active{
    background-color: rgb(150, 22, 6) ;
    color:rgb(255, 8, 0);
}
/* ==========================responsive btn vertical=====================================*/

@media (max-width: 480px){
    .f1 , .f2 ,.f3 ,.f4{
        width: 320px; 
}
}

@media (max-width: 360px){
    .f1 , .f2 ,.f3 ,.f4{
        width: 260px; 
}
}

.Aboutxt{ /*contéudo do botão sobre*/
    font-family: OpenSans-Medium;
    text-align: center;
    display: none;
    padding: 20px;
    margin: auto;
    background-color: rgb(22, 22, 22);
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 5px 5px 10px aquamarine;  
    width: 80%;
    margin-bottom: 2%;
    transition: transform .05s linear;
}

.btnsb button{
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    text-decoration: none;
    border-style: none;
    transition: 0.2s;
    height: 3em;
    width: 10em;
}

.btnsb button:hover{
    transition: .1s;
    background-color: rgb(119, 0, 255);
    cursor: pointer;
}

.btnsb button:active{
    color: rgb(255, 255, 255);
        
}

.Aboutxt h1{
    text-align: center;
}

.Aboutxt .imgpfl{
    box-shadow: 3px 3px 3px aquamarine;  
    border-radius: 5px;
    height: 320px;
    width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.glport{ /*conteúdo portifólio*/
    font-family: OpenSans-Medium;
    text-align: center;
    display: none;
    padding: 20px;
    margin: auto;
    background-color: rgb(22, 22, 22);
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 5px 5px 5px aliceblue;  
    width: 80%;
    margin-bottom: 2%;
}
    
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}

.gallery-itens{
    width:200px;
    height:200px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px aquamarine;
    flex-grow: 0.5;
    transition: transform .05s linear;
}

.gallery-itens img{
    border-radius: 5px;
    width:100%;
    height:100%;
    object-fit:cover;
}
    
.gallery-itens:hover{
    transition: .1s;
    transform: scale(1.05);
}

.btnclosegl button{
    margin-top: 2%;
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    text-decoration: none;
    border-style: none;
    transition: 0.2s;
    height: 3em;
    width: 10em;
}

.btnclosegl button:hover{
    transition: .1s;
    background-color: rgb(119, 0, 255);
    cursor: pointer;
}

.btnclosegl button:active{
    color: rgb(255, 255, 255);  
}

.currl{
    font-family: OpenSans-Medium;
    margin-top: 2%;
    padding: 20px;
    margin: auto;
    background-color: rgb(22, 22, 22);
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 5px 5px 5px aquamarine;  
    width: 80%;
    margin-bottom: 2%;
}

.currl h1{
    text-align: center;
}

.currl p{
    text-align: justify;
}
    
.ctf{
    font-family: OpenSans-Medium;
    display: none;
    padding: 20px;
    margin: auto;
    background-color: rgb(22, 22, 22);
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 5px 5px 5px aquamarine;  
    width: 80%;
    margin-bottom: 2%;
}

.ctf h1{
    text-align: center;
 }

.ctf h3{
    text-align: center;
}

.btnctf{
    text-align: center;
    margin: auto;
}

.btnctf button{
    margin-top: 2%;
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    text-decoration: none;
    border-style: none;
    transition: 0.2s;
    height: 3em;
    width: 10em;
}

.btnctf button:hover{
    transition: .1s;
    background-color: rgb(119, 0, 255);
    cursor: pointer;
}

.btnctf button:active{
    color: rgb(255, 255, 255);  
}
/*====================================Início LIB====================================*/

.mlib{
    margin-top: 2%;
    padding: 20px;
    margin: auto;
    background-color: rgb(22, 22, 22);
    border-radius: 5px;
    box-shadow: 5px 5px 5px aquamarine;  
    width: 80%;
    margin-bottom: 2%;
}

.lib-text{
    text-align: center;
    font-family: HIROMISAKE;
    color: aliceblue;
}

.lib-gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}

.lib-gallery-itens{
    width:70px;
    height:100px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px aquamarine;
    flex-grow: 0.5;
    transition: transform .05s linear;
}

.lib-gallery-itens img{
    border-radius: 5px;
    width:80%;
    height:80%;
    object-fit:contain;
}
    
.lib-gallery-itens:hover{
    transition: .1s;
    transform: scale(1.05);
}

/*====================================FIM LIB====================================*/


.workst{
    margin-top: 2%;
    padding: 20px;
    margin: auto;
    background-color: rgb(22, 22, 22);
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 5px 5px 5px aquamarine;  
    width: 80%;
    margin-bottom: 2%;
}

.workst h1{
    text-align: center;
    font-family: HIROMISAKE;
}

.contwkt{
    text-align: center;
    font-family: OpenSans-Medium;
}

.imgpcwkt{
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 3px aquamarine;  

}

.ft1{ /*rodapé icones*/
    max-width: 100%;
    text-align: center;
    background-color: rgb(107, 107, 107);
    margin-top: 2%;
}
 
.menuft1a img{
    margin-top: 3px;
    padding: 1px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.menuft1a img:hover{
    transition: .1s;
    background-color: aliceblue;
}

.menuft1a img:active{
    background-color: rgb(255, 0, 0);
}

.ft2{/*rodapé links*/
    text-align: justify;
    margin: auto;
    background-color: #000;
    font-family: OpenSans-Medium;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 1%;
}

.menuft2a li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menuft2a li a:hover{
    text-decoration:underline;
}

.menuft2b li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menuft2b li a:hover{
    transition: .1s;
    text-decoration:underline;
}

.menuft2c li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menuft2c li a:hover {
    transition: .1s;
    text-decoration: underline;
}

.menucp{
    background-color: rgb(12, 12, 12);
    padding: 6px;
    text-decoration: none;
    font-family: OpenSans-Medium;
    font-size: small;
    color: aliceblue;
    text-align: center;
}

    